# =================================================
# Application
# ==================================================
NODE_ENV=production
PORT=3000
TZ=Asia/Jakarta
APP_NAME="ADMS API"

# ==================================================
# Prisma / Postgres
# ==================================================
DATABASE_URL="postgresql://postgres:@localhost:5432/adms_api?schema=public"

# ==================================================
# JWT Configuration
# ==================================================
JWT_SECRET="xxx"
JWT_EXPIRES=3600 # 1 hour
JWT_REFRESH_SECRET="xxx"
JWT_REFRESH_EXPIRES=31536000 # 1 year

# ==================================================
# Author Information
# ==================================================
AUTHOR_NAME="Sejator Dev"
AUTHOR_EMAIL="sejatordev@gmail.com"